<ion-header>
  <ion-row class="ion-justify-content-between ion-align-items-center background-dark p-24">
    <ion-col>
      <ion-button fill="clear" color="light" routerLink="/">
        <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 9L2 5l4-4" stroke="#4661E6" stroke-width="2" fill="none" fill-rule="evenodd"/>
        </svg>
        Go Back
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button routerLink="/feedback/create">
        + Add Feedback
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-segment [(ngModel)]="selectedStatusValue">
    <ion-segment-button *ngFor="let status of statuses"
                        [value]="status.name"
                        [style.--color-checked]="status.color">
      <ion-label>{{status.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div class="app-title app-title__large">
    {{selectedStatusValue}} ({{filteredRequests.length}})
  </div>
  <p class="mt-4 mb-24">{{selectedStatus?.description}}</p>


  <app-product-request-card *ngFor="let productRequest of filteredRequests"
                            class="mb-16"
                            [productRequest]=productRequest
                            [showStatus]="true">
  </app-product-request-card>


</ion-content>
