@import "../../../theme/mixins";

:host {
  ion-split-pane {
    background-color: var(--app-color-background);
    @include for-desktop-up {
      --border: none;
      --side-max-width: 255px;
    }
  }

  ion-menu {
    margin-top: var(--app-header-height);
    --width: 271px;

    @include for-desktop-up {
      margin-top: 50px;

      ion-content {
        --padding-start: 0;
        --padding-end: 0;
      }
    }
  }

  .mobile-header {
    ion-toolbar {
      --background: var(--app-gradient-header);
      --color: var(--ion-color-light);

      ion-title {
        padding-left: var(--app-default-spacing);
        padding-right: var(--app-default-spacing);
        font-size: var(--app-font-size-body);

        strong {
          font-size: 15px;
          font-weight: 700;
        }
      }

      ion-buttons {
        margin-right: 14px;
      }
    }
  }

  ion-card.card-header {
    background: var(--app-gradient-header);
    display: flex;
    flex-direction: row;
    align-items: end;
    color: var(--ion-color-light);
  }

  .ion-page {
    margin-top: var(--app-header-height);

    @include for-tablet-up {
      margin-top: 0;
    }
  }
}
