@import "../../../theme/mixins";

:host {
  ion-menu {
    margin-top: var(--app-header-height);
    --width: 271px;
  }

  .mobile-header {
    ion-toolbar {
      --background: var(--app-gradient-header);
      --color: var(--ion-color-light);

      ion-title {
        padding-left: var(--app-default-spacing);
        padding-right: var(--app-default-spacing);
        font-size: var(--app-font-size-body);

        strong {
          font-size: 15px;
          font-weight: 700;
        }
      }

      ion-buttons {
        margin-right: 14px;
      }
    }
  }

  ion-card.card-header {
    background: var(--app-gradient-header);
    display: flex;
    flex-direction: row;
    align-items: end;
    color: var(--ion-color-light);
  }

  .ion-page {
    margin-top: var(--app-header-height);

    @include for-tablet-up {
      margin-top: 0;
    }
  }

  .suggestion-nav {
    padding: 8px 24px;
    color: var(--ion-color-light);

    @include for-tablet-up {
      border-radius: var(--app-border-radius);
      margin-bottom: var(--app-default-spacing);
    }
  }
}
