:host {

  .form-container {
    position: relative;
    padding-top: 27px;

    .form-circle {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 24px;
    }

    ion-card {
      padding-top: 27px;
    }
  }


}
