@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');
@import "mixins";

p {
  color: var(--app-color-body);
}

app-root {
  --ion-font-family: 'Jost';
  font-size: var(--app-font-size-body);
}

ion-app {
  color-scheme: light;
  background-color: var(--app-color-background);
}

ion-header {
  ion-toolbar {
    --min-height: var(--app-header-height);
  }
}

ion-content {
  --padding-top: var(--app-default-spacing);
  --padding-bottom: var(--app-default-spacing);
  --padding-start: var(--app-default-spacing);
  --padding-end: var(--app-default-spacing);
  --background: var(--app-color-background);

  @include for-tablet-up {
    --padding-start: 40px;
    --padding-end: 40px;
  }
}

ion-button {
  margin: 0;
  height: 40px;
  --border-radius: var(--app-border-radius);
  text-transform: none;
  font-size: var(--app-font-size-body);
  font-weight: 700;

  &.button-link {
    text-decoration: underline;
    --background: transparent;
    --color: var(--ion-color-secondary);
    --box-shadow: none;
  }

  svg {
    margin-right: 15px;
  }

  [slot="icon-only"] svg {
    margin-right: 0;
  }
}

ion-card {
  margin: 0;
  border-radius: var(--app-border-radius);
  box-shadow: none;
  --color: var(--app-color-body);

  .card-content-md {
    padding: var(--app-default-spacing);

    p {
      font-size: var(--app-font-size-body);
    }
  }
}

ion-row.stretch-cards {
  ion-card {
    height: 100%;
  }
}

.app-title {
  font-size: var(--app-font-size-body);
  font-weight: 700;
  color: var(--app-color-heading);

  &__large {
    font-size: 18px;
  }
}

ion-chip {
  margin: 0;
  border-radius: var(--app-border-radius);
  font-size: var(--app-font-size-body);
  font-weight: 700;
  text-transform: capitalize;

  --background: rgba(var(--ion-color-secondary-rgb), 0.08);
  --color: var(--ion-color-secondary);

  &.active {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-secondary-contrast);
  }
}

ion-col {
  padding: 0;
}


ion-select-popover {
  .sc-ion-select-popover-ios {
    --background-focused: transparent;
    --border-color: transparent;
    --inner-padding-end: 0;

    &::part(native) {
      color: #647196;
      border-bottom: 1px solid rgba(58, 67, 116, .15);

      &:hover {
        color: var(--ion-color-primary);
      }
    }
  }
}

ion-textarea.sc-ion-textarea-md-h {
  --background: var(--app-color-background);
  --border-radius: 5px;

  .native-wrapper textarea.sc-ion-textarea-md {
    padding: 16px;
  }

  .textarea-highlight {
    display: none;
  }

  .textarea-wrapper {
    border: 1px solid var(--app-color-background);
  }

  &.has-focus {
    .textarea-wrapper {
      border-color: var(--ion-color-secondary);
    }
  }
}

ion-input.sc-ion-input-md-h {
  --background: var(--app-color-background);
  --border-radius: 5px;

  .native-wrapper input.sc-ion-input-md {
    padding: 16px;
  }

  .input-highlight {
    display: none;
  }

  .input-wrapper {
    border: 1px solid var(--app-color-background);
  }

  &.has-focus {
    .input-wrapper {
      border-color: var(--ion-color-secondary);
    }
  }
}

ion-select.legacy-select {
  border-radius: 5px;
  background: var(--app-color-background);
  border: 1px solid var(--app-color-background);
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;

  &.select-expanded {
    border-color: var(--ion-color-secondary);
  }
}

ion-segment {
  ion-segment-button {
    text-transform: none;
    font-weight: 700;
    color: var(--ion-color-tertiary);
    opacity: .4;
    --indicator-height: 4px;

    &.segment-button-checked {
      opacity: 1;
    }
  }
}


.bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: var(--color);
  margin-right: 16px;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-dark-adaptive {
  padding: 8px 24px;
  background-color: var(--app-color-dark-blue);
  color: var(--ion-color-light);

  @include for-tablet-up {
    border-radius: var(--app-border-radius);
    margin-bottom: var(--app-default-spacing);
  }
}

$containerWidths: (540, 730, 1100, 1150);
@each $containerWidth in $containerWidths {
  .container-#{$containerWidth} {
    max-width: #{$containerWidth}px;
    margin-left: auto;
    margin-right: auto;
  }
}

.query-container {
  container-type: inline-size;
}

@container (max-width:400px) {
  .hide-in-small-container {
    display: none;
  }
}

@container (min-width:401px) {
  .hide-in-large-container {
    display: none;
  }
}





