<ion-row>
  <ion-col size="auto">
    <ion-avatar>
      <img [src]="comment?.createdBy?.image"/>
    </ion-avatar>
  </ion-col>
  <ion-col>
    <div class="app-title">{{comment?.createdBy?.name}}</div>
    <small>@{{comment?.createdBy?.username}}</small>
  </ion-col>
  <ion-col size="auto">
    <ion-button class="button-link"
                (click)="replyClicked.emit(comment?.id)">
      Reply
    </ion-button>
  </ion-col>
</ion-row>

<div class="comment-container">
  <p>
    <ion-text *ngIf="comment?.replyToUser?.username as userName"
              color="primary" bo>
      <strong>@{{userName}}</strong>
    </ion-text>
    {{comment?.content}}
  </p>
<!--  <app-feedback-detail-add-reply *ngIf="comment?.id === replyTo"-->
<!--                                 (addComment)="addComment.emit($event)">-->
<!--  </app-feedback-detail-add-reply>-->
</div>

<div class="pl-50">
  <app-feedback-detail-comment *ngFor="let reply of comment?.replies"
                               class="comment-reply"
                               [comment]="reply"
                               [replyTo]="replyTo"
                               (replyClicked)="replyClicked.emit($event)"
                               (addComment)="addComment.emit($event)">
  </app-feedback-detail-comment>
</div>

<div class="comment-container">
  <app-feedback-detail-add-reply *ngIf="comment?.id === replyTo"
                                 (addComment)="addComment.emit($event)">
  </app-feedback-detail-add-reply>
</div>
