:host {
  ion-card-content {
    padding-top: 76px;
    padding-bottom: 76px;

    .card-title {
      margin-top: 39px;
      margin-bottom: 14px;
    }

    ion-button {
      margin-top: 24px;
    }
  }
}
