:host {
  display: block;

  ion-card {
    &.card-status ion-card-content {
      box-shadow: inset 0 6px var(--status-color);
    }

    p {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    .chip-upvotes {
      svg {
        margin-right: 10px;
      }
      color: var(--app-color-dark-blue);
      font-weight: 700;
    }

    .button-comments {
      margin-right: -15px;
      svg {
        margin-right: 10px;
      }
      --color: var(--app-color-dark-blue) !important;
    }
  }
}
